@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius: 1rem;

  /* Light mode colors */
  --color-background: #fdfbf7;
  --color-foreground: #4a4e69;
  --color-card: #ffffff;
  --color-primary: #a5a6f6;
  --color-muted-foreground: #7d8098;
  --color-border: #e4ddd2;
}

.dark {
  --color-background: #2d2f3d;
  --color-foreground: #fdfbf7;
  --color-card: #393b4d;
  --color-primary: #a5a6f6;
  --color-muted-foreground: #7d8098;
  --color-border: #3e4155;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: din-round, sans-serif;
  }
}
