SUPABASE_URL=
SUPABASE_KEY=
EMBEDDING_API_URL=
HF_TOKEN=
SUPABASE_DB_URI=
OLLAMA_MODEL=
OLLAMA_BASE_URL=
OLLAMA_API_KEY=
CORS_ORIGINS=
VERDICT_THRESHOLD=
TAVILY_API_KEY=
JWT_SECRET=
VECTORSTORE_API_KEY=
